node_modules/
dist/
dist-ssr/
*.local

# server
server/.env
server/dev.db
server/dev.db-journal
server/prisma/dev.db
server/prisma/dev.db-journal

# client
client/dev-dist/
client/public/pwa-192x192.png
client/public/pwa-512x512.png

# editor / OS
.DS_Store
*.log
.vscode/*
!.vscode/extensions.json
